<div class="container-button" *ngIf="!!deputies.length">
  <button [disabled]="!pagination.previous" (click)="previousPage()">
    <mat-icon>arrow_left</mat-icon>
    Anterior
  </button>
  <button [disabled]="!pagination.next" (click)="nextPage()">
    Próxima
    <mat-icon>arrow_right</mat-icon>
  </button>
</div>
<div class="container_cards">
  <div *ngIf="!deputies.length" class="not-found">
    <h1>Nenhum resultado encontrado!</h1>
    <img src="../../../assets/images/no-data.svg" alt="Not found" />
    <small>Tente novamente</small>
  </div>
  <div
    *ngFor="let deputy of deputies"
    class="card-deputy"
    [routerLink]="['/deputy', deputy.id]"
    routerLinkActive="active"
  >
    <div class="container_img">
      <figure>
        <img [src]="deputy.urlFoto" [alt]="'Foto do deputado ' + deputy.nome" />
      </figure>
    </div>
    <div class="container_info">
      <p><small>Nome:</small> {{ deputy.nome }}</p>
      <p><small>Partido: </small>{{ deputy.siglaPartido }}</p>
      <p><small>Estado(UF): </small>{{ deputy.siglaUf }}</p>
    </div>
  </div>
</div>
