.container_cards {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-top: 32px;
}

.card_deputy {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  padding: 4px 16px;
  background: var(--white);
  border-radius: 4px;
  cursor: pointer;
}

.card_deputy img {
  width: 100px;
}

.card_deputy p {
  margin: 2px 0;
}

.card_deputy small {
  font-weight: 700;
}

.container_info {
  border-top: 2px solid var(--p-dark);
  padding: 8px 0;
}

.container_button {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 64px;
  margin: 16px 0;
}

.container_button button {
  background: var(--p-dark);
  padding: 8px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
  border: none;
  border-radius: 4px;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64 px;
}

.not-found img {
  width: 50%;
}

.not-found h1 {
  margin: 32px 0;
}

.not-found small {
  margin: 32px;
  color: var(--primary);
  font-weight: 800;
}
