.container-proposition {
  background: var(--primary);
  color: var(--white);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 16px 0;
}

.container-proposition h2 {
  text-align: center;
}

.flex {
  display: flex;
  gap: 16px;
}

.propositions {
  display: flex;
}

.proposition-card {
  width: 20%;
  border-left: 2px solid var(--white);
  padding: 0 8px;
}

.proposition-card:nth-child(1) {
  border: none;
}

.proposition-card small {
  font-weight: 700;
}

.container_button {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 64px;
  margin: 16px 0;
}

.container_button button {
  background: var(--white);
  padding: 8px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--primary);
  border: none;
  border-radius: 4px;
}

.propositions a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: var(--white);
  text-decoration: none;
  gap: 8px;
}

.container-proposition h1 {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .propositions {
    flex-direction: column;
  }

  .proposition-card {
    width: 90%;
    border-top: solid var(--white);
    border-left: none;
    border-right: none;
    margin: 0 auto;
    padding: 16px 0 8px;
  }
}
