<div class="container-proposition">
  <h2>Projetos de lei</h2>
  <div class="container-button" *ngIf="!!propositions.length">
    <button
      [disabled]="!pagination.previous"
      (click)="previousPage()"
      style="background: white; color: var(--primary)"
    >
      <mat-icon>arrow_left</mat-icon>
      Anterior
    </button>
    <button
      [disabled]="!pagination.next"
      (click)="nextPage()"
      style="background: white; color: var(--primary)"
    >
      Próxima
      <mat-icon>arrow_right</mat-icon>
    </button>
  </div>
  <div class="propositions">
    <div *ngFor="let proposition of propositions" class="proposition-card">
      <div class="flex">
        <p><small>Número: </small>{{ proposition.numero }}</p>
        <p><small>Ano: </small>{{ proposition.ano }}</p>
      </div>
      <small>Ementa: </small>
      <p class="ementa">{{ proposition.ementa }}</p>
      <a [routerLink]="redirectTo(proposition.id)" routerLinkActive="active"
        >Mais informações<mat-icon>link</mat-icon></a
      >
    </div>
  </div>
</div>
