<app-header></app-header>
<div class="container-proposition">
  <p><small>Tipo de projeto: </small>{{ proposition.descricaoTipo }}</p>
  <p>
    <small>Situação do projeto: </small
    >{{
      proposition.statusProposicao?.descricaoSituacao ||
        "Descrição da situação não informado"
    }}
  </p>
  <p><small>Número do projeto: </small>{{ proposition.numero }}</p>
  <p>
    <small>Data de apresentação: </small
    >{{ proposition.dataApresentacao | date: "dd/MM/yy - hh:mm" }}h
  </p>
  <small>Ementa: </small>
  <p>{{ proposition.ementa }}</p>
  <small *ngIf="!!proposition.ementaDetalhada">Ementa detalhada: </small>
  <p>{{ proposition.ementaDetalhada }}</p>
  <p class="link">
    Consulte mais informações sobre o projeto
    <a
      [href]="proposition.statusProposicao?.url"
      *ngIf="!!proposition.statusProposicao?.url"
      target="_blank"
      >aqui.</a
    >
  </p>
</div>
<button [routerLink]="redirectTo()" class="button-back">Voltar</button>
