.header {
  width: 100%;
  background: var(--primary);
  color: var(--white);
  font-size: 2rem;
  height: 64 px;
  display: flex;
  align-items: center;
  padding: 24px;
}

/* .menu-mobile {
  display: none;
}

@media only screen and (max-width: 800px) {
  .menu-mobile {
    display: block;
  }
} */
