.header {
  width: 100%;
  background: var(--primary);
  color: var(--white);
  font-size: 2rem;
  height: 64 px;
  display: flex;
  align-items: center;
  padding: 24px;
}

.menu {
  background: none;
  border: none;
  color: var(--white);
  flex: 1;
  text-align: end;
}
