<div class="container">
  <h2>Despesas do deputado:</h2>
  <form [formGroup]="form" class="search-expense">
    <h2>Filtros:</h2>
    <div class="inputs-expense">
      <div class="container-input">
        <label>Ano: </label>
        <select formControlName="ano">
          <option value="" disabled selected>Escolha o ano</option>
          <option *ngFor="let year of selectYears" [value]="year.ano">
            {{ year.ano }}
          </option>
        </select>
      </div>
      <div class="container-input">
        <label>Mês: </label>
        <select formControlName="mes">
          <option value="" disabled selected>Escolha o mês</option>
          <option *ngFor="let month of selectMonths" [value]="month.value">
            {{ month.mes }}
          </option>
        </select>
      </div>
      <div class="container-input">
        <label>Valor: </label>
        <input
          type="number"
          placeholder="Abaixo de R$ : "
          formControlName="valor"
        />
      </div>
    </div>
    <div class="button-expense">
      <div class="container-input">
        <label>Ordem: </label>
        <select formControlName="ordem">
          <option value="" select disabled>Do maior para o menor</option>
          <option value="asc">Do menor para o maior</option>
        </select>
      </div>
      <button (click)="onSubmit()">pesquisar<mat-icon>search</mat-icon></button>
    </div>
  </form>
  <div class="expenses">
    <div class="container-button" *ngIf="!!deputyExpense.length">
      <button [disabled]="!pagination.previous" (click)="previousPage()">
        <mat-icon>arrow_left</mat-icon>
        Anterior
      </button>
      <button [disabled]="!pagination.next" (click)="nextPage()">
        Próxima
        <mat-icon>arrow_right</mat-icon>
      </button>
    </div>
    <table class="table">
      <thead>
        <tr class="t-header">
          <th class="t-description">Descrição</th>
          <th class="t-provider">Fornecedor</th>
          <th class="t-value">Valor<br />(R$)</th>
          <th class="t-date">Data</th>
          <th class="t-document">Nota fiscal</th>
        </tr>
      </thead>
      <tbody *ngIf="!!deputyExpense.length">
        <tr *ngFor="let expense of deputyExpense" class="rows">
          <td class="t-description">
            {{ expense.tipoDespesa | titlecase }}
          </td>
          <td class="t-provider">
            {{ expense.nomeFornecedor | titlecase }}
          </td>
          <td class="t-value">
            {{ expense.valorDocumento | currency }}
          </td>
          <td class="t-date">
            {{ expense.dataDocumento | date: "dd/MM/yy" }}
          </td>
          <td class="t-document">
            <a [href]="expense.urlDocumento" target="_blank"
              ><mat-icon> insert_drive_file</mat-icon></a
            >
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="!deputyExpense.length" class="not-found">
        <tr>
          <td rowspan="5">Nenhuma despesa encontrada</td>
        </tr>
      </tbody>
    </table>
    <div class="container-table">
      <table class="table">
        <thead>
          <tr class="t-header">
            <th class="tf-description">Descrição última compra</th>
            <th class="tf-value">
              Valor <br />
              R$
            </th>
            <th class="tf-date">Data</th>
          </tr>
        </thead>
        <tbody>
          <tr class="rows">
            <td class="tf-description">{{ lastExpense.tipoDespesa }}</td>
            <td class="tf-value">
              {{ lastExpense.valorDocumento | currency }}
            </td>
            <td class="tf-date">
              {{ lastExpense.dataDocumento | date: "dd/MM/yy" }}
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <thead>
          <tr class="t-header">
            <th class="tf-description">Descrição compra mais cara</th>
            <th class="tf-value">
              Valor <br />
              R$
            </th>
            <th class="tf-date">Data</th>
          </tr>
        </thead>
        <tbody>
          <tr class="rows">
            <td class="tf-description">{{ mostCostExpense.tipoDespesa }}</td>
            <td class="tf-value">
              {{ mostCostExpense.valorDocumento | currency }}
            </td>
            <td class="tf-date">
              {{ mostCostExpense.dataDocumento | date: "dd/MM/yy" }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
