.container {
  background: var(--white);
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container form h2 {
  padding-left: 32px;
  align-self: flex-end;
}
.inputs-expense {
  display: flex;
  justify-content: space-around;
  gap: 8px;
  margin-left: 32px;
}

.button-expense {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-left: 8px;
}

form button {
  padding-right: 32px;
}

.expenses {
  flex: 1;
  padding: 16px;
}

.expenses p,
.expenses h3 {
  margin: 0;
  padding: 0;
}

.container_deputy {
  display: flex;
  padding-left: 8px;
}

.table {
  width: 100%;
  border: 1px solid #eeeeee;
}

thead {
  display: flex;
  width: 100%;
  background: #000;
  color: var(--p-light);
  justify-content: space-between;
  height: 50px;
}
tr.t-header {
  width: 100%;
  display: flex;
  align-items: center;
}

th {
  display: flex;
  justify-content: center;
}

tr.t-header th {
  display: flex;
  font-size: 1rem;
}

tr.rows {
  display: flex;
  width: 100%;
  padding: 4px 0;
  height: 5 0px;
  text-align: center;
}

tr:nth-of-type(odd).rows {
  background: #eeeeee;
  min-height: 48px;
}

th.t-description {
  justify-self: flex-start;
}

.t-description {
  width: 30%;
  word-break: break-all;
}

.t-provider {
  width: 35%;
  word-break: break-all;
}

.t-value {
  width: 10%;
  /* word-break: break-all; */
}

.t-date {
  width: 15%;
  word-break: break-all;
}

.t-document {
  width: 10%;
}

form.search-expense {
  display: flex;
  flex-wrap: wrap;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  align-self: center;
  background: var(--background);
  width: 100%;
  padding: 16px 0;
  justify-content: center;
}

.container-input {
  display: flex;
  flex-direction: column;
}
.search-expense label {
  font-weight: bolder;
  margin-top: 8px;
}

.search-expense input,
.search-expense select {
  padding: 8px;
  border: var(--p-light) 1px solid;
  border-radius: 4px;
  background: var(--white);
}

.search-expense input:hover,
.search-expense select:hover {
  background-color: var(--pl-background);
}

.search-expense button {
  border: none;
  background: var(--p-light);
  color: var(--white);
  padding: 12px;
  margin-top: 16px;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  gap: 4px;
}

.search-expense button:hover {
  background: var(--p-dark);
}

.container > h2 {
  padding: 16px;
  color: var(--primary);
}

.container_button {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 64px;
  margin: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}

.container_button button {
  background: var(--p-dark);
  padding: 12px;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--white);
  border: none;
  border-radius: 4px;
}

.container-table {
  display: flex;
}

.tf-description {
  width: 70%;
}

.tf-value {
  width: 15%;
  word-break: break-all;
}

.tf-date {
  width: 15%;
  word-break: break-all;
}

.not-found td {
  font-size: 1.4rem;
  padding: 16px 0;
  text-align: center;
}

table mat-icon {
  color: var(--p-light);
}

@media only screen and (max-width: 800px) {
  form.search-expense {
    flex-direction: column;
    width: 60%;
  }
  .inputs-expense {
    flex-direction: column;
    width: 60%;
    align-self: center;
    margin: 0;
  }
  .container-table {
    flex-direction: column;
  }
  .button-expense {
    flex-direction: column;
    width: 60%;
    align-self: center;
    margin: 0;
  }

  .search-expense button {
    width: 160px;
    align-self: center;
  }
  .container form h2 {
    padding-left: 32px;
    align-self: flex-start;
  }

  table {
    font-size: 0.6rem;
  }

  table tr th {
    font-size: 0.7rem;
  }
}
