.container {
  background: var(--white);
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container form h2 {
  padding-left: 32px;
  align-self: flex-end;
}
.inputs-expense {
  display: flex;
  justify-content: space-around;
  gap: 8px;
  margin-left: 32px;
}

.button-expense {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-left: 8px;
  /* width: 70%;     */
}

form button {
  padding-right: 32px;
}

.expenses {
  flex: 1;
  padding: 16px;
}

.expenses p,
.expenses h3 {
  margin: 0;
  padding: 0;
}

.container_deputy {
  display: flex;
  padding-left: 8px;
}

.table {
  width: 100%;
  border: 1px solid #eeeeee;
}

thead {
  display: flex;
  width: 100%;
  background: #000;
  color: var(--p-light);
  justify-content: space-between;
}
tr.t-header {
  width: 100%;
  display: flex;
}

tr.t-header th {
  display: flex;
  justify-content: flex-start;
  padding-left: 4px;
}

tr.rows {
  display: flex;
  width: 100%;
  padding: 4px 0;
  height: 100px;
}

tr:nth-of-type(odd).rows {
  background: #eeeeee;
}

th.t-description {
  justify-self: flex-start;
}

.t-description {
  width: 30%;
}

.t-provider {
  width: 35%;
}

.t-value {
  width: 10%;
}

.t-date {
  width: 15%;
}

.t-document {
  width: 10%;
}

form.search-expense {
  display: flex;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  align-self: center;
  background: var(--background);
  width: 100%;
  padding: 16px 0;
  justify-content: center;
}

.container-input {
  display: flex;
  flex-direction: column;
}
.search-expense label {
  font-weight: bolder;
  margin-top: 8px;
}

.search-expense input,
.search-expense select {
  padding: 8px;
  border: var(--p-light) 1px solid;
  border-radius: 4px;
  background: var(--white);
}

.search-expense input:hover,
.search-expense select:hover {
  background-color: var(--pl-background);
}

.search-expense button {
  border: none;
  background: var(--p-light);
  color: var(--white);
  padding: 12px;
  margin-top: 16px;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.search-expense button:hover {
  background: var(--p-dark);
}

.container > h2 {
  padding: 16px;
  color: var(--primary);
}

.container_button {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 64px;
  margin: 16px 0;
}

.container_button button {
  background: var(--p-dark);
  padding: 8px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
  border: none;
  border-radius: 4px;
}
