<div class="container">
  <h2>Despesas do deputado:</h2>
  <form [formGroup]="form" class="search-expense">
    <h2>Filtros:</h2>
    <div class="inputs-expense">
      <div class="container-input">
        <label>Ano: </label>
        <select formControlName="ano">
          <option value="" disabled selected>Escolha o ano</option>
          <option *ngFor="let year of selectYears" [value]="year.ano">
            {{ year.ano }}
          </option>
        </select>
      </div>
      <div class="container-input">
        <label>Mês: </label>
        <select formControlName="mes">
          <option value="" disabled selected>Escolha o mês</option>
          <option *ngFor="let month of selectMonths" [value]="month.value">
            {{ month.mes }}
          </option>
        </select>
      </div>
      <div class="container-input">
        <label>Valor: </label>
        <input
          type="number"
          placeholder="Abaixo de R$ : "
          formControlName="valor"
        />
      </div>
    </div>
    <div class="button-expense">
      <div class="container-input">
        <label>Ordem: </label>
        <select formControlName="ordem">
          <option value="" select disabled>Do maior para o menor</option>
          <option value="asc">Do menor para o maior</option>
        </select>
      </div>
      <button (click)="onSubmit()">pesquisar</button>
    </div>
  </form>
  <div class="expenses">
    <div class="container_button">
      <button [disabled]="!pagination.previous" (click)="previousPage()">
        Anterior
      </button>
      <button [disabled]="!pagination.next" (click)="nextPage()">
        Próxima
      </button>
    </div>
    <table class="table">
      <thead>
        <tr class="t-header">
          <th class="t-description">Descrição</th>
          <th class="t-provider">Fornecedor</th>
          <th class="t-value">Valor(R$)</th>
          <th class="t-date">Data</th>
          <th class="t-document">Nota fiscal</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let expense of deputyExpense" class="rows">
          <td class="t-description">{{ expense.tipoDespesa }}</td>
          <td class="t-provider">{{ expense.nomeFornecedor }}</td>
          <td class="t-value">{{ expense.valorDocumento }}</td>
          <td class="t-date">{{ expense.dataDocumento }}</td>
          <td class="t-document">{{ expense.tipoDocumento }}</td>
        </tr>
      </tbody>
      <!-- <h3></h3>
      <p><small>Fornecedor: </small></p>
      <p><small>Valor: </small>R$ {{ expense.valorDocumento }}</p>
      <p><small>Realizada em: </small>{{ expense.dataDocumento }}</p>
      <a [href]="expense.urlDocumento" target="blank"
        >Consulte a {{ expense.tipoDocumento }}</a
      > -->
    </table>
  </div>
</div>
