@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap");

:root {
  --primary: #337958;
  --p-dark: #1e4a2f;
  --p-light: #2e855e;
  --pl-background: #2e855e1f;
  --error: #ff0000;
  --font-color: #212529;
  --white: #fdfdfd;
  --background: #f8f8f8;
}

body,
div,
p,
h1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

button {
  cursor: pointer;
  outline: none;
}

ul {
  list-style: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--background);
}

input,
select {
  /* border: none; */
  background: none;
  outline: none;
}

.container-button {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 64px;
  margin: 16px 0;
}

.container-button button {
  background: var(--p-dark);
  padding: 4px;
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--white);
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  gap: 2px;
  align-items: center;
}

.container-button button:hover {
  background: var(--p-light);
}
